---
title: Getting Started
parent: Home
description: This section contains information on getting started with Brightcove Interactivity.
---

<h1>Getting Started</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <br>
  <section id="page_wrapper">
    {% for item in site.data.navigation %}
    {% if item.name == page.title %}
    <ul>
      {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endfor %}
  </section>
</article>