---
title: Creating and Managing Templates
description: In this topic you will learn how to create and manage Brightcove Interactivity templates.
parent: Templates
---
<aside class="bcls-aside bcls-aside--warning language-editable">This site contains documentation for the deprecated HapYak plugin. Please go to the <a href="https://studio.support.brightcove.com/interactivity/index.html">current Brightcove Interactivity documentation</a>.</aside>
{% include s-brightcove-interactivity/
templates/creating-and-managing-templates.html%}